<nb-card>
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step label="Benvenuto">
        <nb-layout center>
          <nb-layout-header><h2>Benvenuto</h2></nb-layout-header>

          <nb-layout-column>
            Hello World!
          </nb-layout-column>

          <nb-layout-footer>
            <button class="next-button" nbButton nbStepperNext>Avanti</button>
          </nb-layout-footer>
        </nb-layout>
      </nb-step>
      <nb-step label="Primi">
        <nb-layout center>
          <nb-layout-header><h2>Primi</h2></nb-layout-header>

          <nb-layout-column>
            <nb-card>
              <nb-card-body>
                <nb-list>
                  <nb-list-item><input type="text" nbInput fullWidth status="basic"
                                       placeholder="Prima portata | categoria Primi"></nb-list-item>
                  <nb-list-item><input type="text" nbInput fullWidth status="basic"
                                       placeholder="Seconda portata | categoria Primi"></nb-list-item>
                  <nb-list-item><input type="text" nbInput fullWidth status="basic"
                                       placeholder="Terza portata | categoria Primi"></nb-list-item>
                  <nb-list-item><input type="text" nbInput fullWidth status="basic"
                                       placeholder="Quarta portata | categoria Primi"></nb-list-item>
                  <nb-list-item><input type="text" nbInput fullWidth status="basic"
                                       placeholder="Quinta portata | categoria Primi"></nb-list-item>
                </nb-list>
              </nb-card-body>
            </nb-card>
          </nb-layout-column>
          <nb-layout-footer>
            <button class="prev-button" style="margin-right: 1.5em" nbButton nbStepperPrevious>Indietro</button>
            <button class="next-button" nbButton nbStepperNext>Avanti</button>
          </nb-layout-footer>
        </nb-layout>
      </nb-step>
      <nb-step label="Secondi">
        <nb-layout center>
          <nb-layout-header><h2>Secondi</h2></nb-layout-header>

          <nb-layout-column>
            <nb-card>
              <nb-card-body>
                <nb-list>
                  <nb-list-item><input type="text" nbInput fullWidth status="basic"
                                       placeholder="Prima portata | categoria Secondi"></nb-list-item>
                  <nb-list-item><input type="text" nbInput fullWidth status="basic"
                                       placeholder="Seconda portata | categoria Secondi"></nb-list-item>
                  <nb-list-item><input type="text" nbInput fullWidth status="basic"
                                       placeholder="Terza portata | categoria Secondi"></nb-list-item>
                  <nb-list-item><input type="text" nbInput fullWidth status="basic"
                                       placeholder="Quarta portata | categoria Secondi"></nb-list-item>
                  <nb-list-item><input type="text" nbInput fullWidth status="basic"
                                       placeholder="Quinta portata | categoria Secondi"></nb-list-item>
                </nb-list>
              </nb-card-body>
            </nb-card>
          </nb-layout-column>

          <nb-layout-footer>
            <button class="prev-button" style="margin-right: 1.5em" nbButton nbStepperPrevious>Indietro</button>
            <button class="next-button" nbButton nbStepperNext>Avanti</button>
          </nb-layout-footer>
        </nb-layout>
      </nb-step>
      <nb-step label="Pizze">
        <nb-layout center>
          <nb-layout-header><h2>Pizze</h2></nb-layout-header>

          <nb-layout-column>
            <nb-card>
              <nb-card-body>
                <nb-list>
                  <nb-list-item><input type="text" nbInput fullWidth status="basic"
                                       placeholder="Prima portata | categoria Pizze"></nb-list-item>
                  <nb-list-item><input type="text" nbInput fullWidth status="basic"
                                       placeholder="Seconda portata | categoria Pizze"></nb-list-item>
                </nb-list>
              </nb-card-body>
            </nb-card>
          </nb-layout-column>

          <nb-layout-footer>
            <button class="prev-button" style="margin-right: 1.5em" nbButton nbStepperPrevious>Indietro</button>
            <button class="next-button" nbButton nbStepperNext>Avanti</button>
          </nb-layout-footer>
        </nb-layout>
      </nb-step>
      <nb-step label="Conferma">
        <nb-layout center>
          <nb-layout-header><h2>Conferma e salva</h2></nb-layout-header>

          <nb-layout-column>
            Hello World!
          </nb-layout-column>

          <nb-layout-footer>
            <button class="prev-button" style="margin-right: 1.5em" nbButton nbStepperPrevious>Indietro</button>
            <button nbButton>Conferma</button>
          </nb-layout-footer>
        </nb-layout>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
