<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-header>Recensioni TripAdvisor</nb-card-header>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Recensione 1">
            Tab content 1
          </nb-tab>
          <nb-tab tabTitle="Recensione 2">
            Tab content 1
          </nb-tab>
          <nb-tab tabTitle="Recensione 3">
            Tab content 1
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>
