<form>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xxxl-12">
      <nb-card>
        <nb-card-header>Descrizione Sito</nb-card-header>
        <nb-card-body>
        <textarea name="descrizione" [(ngModel)]="descrizione" (ngModelChange)="changeDescrizione($event)"
                  style="margin-bottom: 1.5em; height: 10em;" nbInput fullWidth placeholder="Textarea"></textarea>
          <button (click)="confermaDescrizione();" nbButton>Salva</button>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</form>
