<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-header>Menu</nb-card-header>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Antipasti">
            <nb-list>
              <nb-list-item *ngFor="let antipasto of antipasti">
                <nb-card>
                  <nb-card-header>
                    {{antipasto.nome}}
                  </nb-card-header>
                  <nb-card-body>
                    {{antipasto.descrizione}}
                  </nb-card-body>
                  <nb-card-footer>
                    {{antipasto.prezzo}}
                  </nb-card-footer>
                </nb-card>
              </nb-list-item>
            </nb-list>
          </nb-tab>
          <nb-tab tabTitle="Primi e secondi">
            <nb-list>
              <nb-list-item *ngFor="let primo of primiesecondi">
              </nb-list-item>
            </nb-list>
          </nb-tab>
          <nb-tab tabTitle="Contorni">
            <nb-list>
              <nb-list-item *ngFor="let contorno of contorni">
              </nb-list-item>
            </nb-list>
          </nb-tab>
          <nb-tab tabTitle="Pizze">
            <nb-list>
              <nb-list-item *ngFor="let pizza of pizze">
              </nb-list-item>
            </nb-list>
          </nb-tab>
          <nb-tab tabTitle="Dolci e Dessert">
            <nb-list>
              <nb-list-item *ngFor="let dolce of dessert">
              </nb-list-item>
            </nb-list>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>
