<div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-header>Menu</nb-card-header>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Antipasti">
            Tab content 1
          </nb-tab>
          <nb-tab tabTitle="Primi">
            Tab content 1
          </nb-tab>
          <nb-tab tabTitle="Secondi">
            Tab content 1
          </nb-tab>
          <nb-tab tabTitle="Pizze">
            Tab content 1
          </nb-tab>
          <nb-tab tabTitle="Dolci e Dessert">
            Tab content 1
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>
