<div class="row">
  <nb-card>
    <nb-card-header>Scegli il piano migliore per la tua attività</nb-card-header>
    <nb-card-body>
      <div class="col-xxl-3">
        <div class="row">
          <div class="col-md-4">
            <nb-card>
              <nb-card-header>Bee Smart</nb-card-header>
              <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
              <nb-card-footer>
                <button *ngIf="plan !== 'SMART'"
                        [disabled]="request || plan === 'SMART'"
                        (click)="sendRequest('SMART');"
                        nbButton
                        fullWidth>
                  Scegli piano (€4.90 / mese)
                </button>
                <button *ngIf="plan === 'SMART'"
                        [disabled]="request || plan === 'SMART'"
                        nbButton
                        fullWidth>
                  Piano attuale (€4.90 / mese)
                </button>
              </nb-card-footer>
            </nb-card>
          </div>
          <div class="col-md-4">
            <nb-card>
              <nb-card-header>
                Bee Advanced
              </nb-card-header>
              <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
              <nb-card-footer>
                <button *ngIf="plan !== 'ADVANCED'"
                        [disabled]="request || plan === 'ADVANCED'"
                        (click)="sendRequest('ADVANCED');"
                        nbButton
                        fullWidth>
                  Scegli piano (€6.90 / mese)
                </button>
                <button *ngIf="plan === 'ADVANCED'"
                        [disabled]="request || plan === 'ADVANCED'"
                        fullWidth disabled
                        nbButton>
                  Piano attuale (€6.90 / mese)
                </button>
              </nb-card-footer>
            </nb-card>
          </div>
          <div class="col-md-4">
            <nb-card>
              <nb-card-header>Bee Professional</nb-card-header>
              <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
              <nb-card-footer>
                <button *ngIf="plan !== 'PROFESSIONAL'"
                        [disabled]="request || plan === 'PROFESSIONAL'"
                        (click)="sendRequest('PROFESSIONAL');"
                        nbButton
                        fullWidth>
                  Scegli piano (€9.90 / mese)
                </button>
                <button *ngIf="plan === 'PROFESSIONAL'"
                        [disabled]="request || plan === 'PROFESSIONAL'"
                        fullWidth disabled
                        nbButton>
                  Piano attuale (€9.90 / mese)
                </button>
              </nb-card-footer>
            </nb-card>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <p *ngIf="request">C'è già una richiesta in corso, attendete 72h per il completamento.</p>
      <p *ngIf="!request">Le richieste di modifica del template del sito web posson richiedere fino a 72h
        lavorative.</p>
    </nb-card-footer>
  </nb-card>
</div>
