<div class="row">
  <nb-card>
    <nb-card-header>Scegli il piano migliore per la tua attività</nb-card-header>
    <nb-card-body>
      <div class="col-xxl-3">
        <div class="row">
          <div class="col-md-4">
            <nb-card>
              <nb-card-header>Bee Smart</nb-card-header>
              <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
              <nb-card-footer>
                <button nbButton
                        fullWidth>
                  Scegli piano (€4.90 / mese)
                </button>
              </nb-card-footer>
            </nb-card>
          </div>
          <div class="col-md-4">
            <nb-card>
              <nb-card-header>
                Bee Advanced
              </nb-card-header>
              <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
              <nb-card-footer>
                <button fullWidth disabled
                        nbButton>
                  Piano attuale (€6.90 / mese)
                </button>
              </nb-card-footer>
            </nb-card>
          </div>
          <div class="col-md-4">
            <nb-card>
              <nb-card-header>Bee Professional</nb-card-header>
              <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
              <nb-card-footer>
                <button nbButton
                        fullWidth>
                  Scegli piano (€9.90 / mese)
                </button>
              </nb-card-footer>
            </nb-card>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <p>Le richieste di modifica del piano web possono richiedere fino a 72h
        lavorative.</p>
    </nb-card-footer>
  </nb-card>
</div>
