<div class="row">
  <nb-card>
    <nb-card-header>Scegli il template del tuo sito</nb-card-header>
    <nb-card-body>
      <div class="col-xxl-3">
        <div class="row">
          <div class="col-md-4">
            <nb-card>
              <nb-card-header>Bee Simple</nb-card-header>
              <nb-card-body>
                <img style="width: 100%; margin-bottom: 1em;" src="assets/images/safari_template_1.png">
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
              <nb-card-footer>
                <button nbButton
                        fullWidth
                        style="margin-bottom: 1em; background-color: #f0c419 !important;">
                  Demo
                </button>
                <button *ngIf="template === 'Simple'" inbButton [disabled]="request|| template === 'Simple'"
                        fullWidth>
                  Template attuale
                </button>
                <button *ngIf="template !== 'Simple'"
                        fullWidth [disabled]="request || template === 'Simple'"
                        (click)="sendRequest('Simple');"
                        nbButton>
                  Effettua lo switch
                </button>
              </nb-card-footer>
            </nb-card>
          </div>
          <div class="col-md-4">
            <nb-card>
              <nb-card-header>
                Bee Restaurant
              </nb-card-header>
              <nb-card-body>
                <img style="width: 100%; margin-bottom: 1em;" src="assets/images/safari_template_1.png">
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
              <nb-card-footer>
                <button nbButton
                        fullWidth
                        style="margin-bottom: 1em; background-color: #f0c419 !important;">
                  Demo
                </button>
                <button *ngIf="template === 'Restaurant'"
                        fullWidth [disabled]="request || template === 'Restaurant'"
                        nbButton>
                  Template attuale
                </button>
                <button *ngIf="template !== 'Restaurant' && plan !== 'SIMPLE'"
                        fullWidth [disabled]="request || template === 'Restaurant'"
                        (click)="sendRequest('Restaurant');"
                        nbButton>
                  Effettua lo switch
                </button>
                <button *ngIf="template !== 'Restaurant' && plan === 'SIMPLE'"
                        fullWidth [disabled]="request || template === 'Restaurant'"
                        routerLink="/pages/extra-components/plans"
                        nbButton>
                  Effettua un upgrade
                </button>
              </nb-card-footer>
            </nb-card>
          </div>
          <div class="col-md-4">
            <nb-card>
              <nb-card-header>Bee Portfolio</nb-card-header>
              <nb-card-body>
                <img style="width: 100%; margin-bottom: 1em;" src="assets/images/safari_template_1.png">
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
              <nb-card-footer>
                <button nbButton
                        fullWidth
                        style="margin-bottom: 1em; background-color: #f0c419 !important;">
                  Demo
                </button>
                <button *ngIf="template === 'Portfolio'"
                        nbButton [disabled]="request|| template === 'Portfolio'"
                        fullWidth>
                  Template attuale
                </button>
                <button *ngIf="template !== 'Portfolio'"
                        nbButton [disabled]="request|| template === 'Portfolio'"
                        (click)="sendRequest('Portfolio');"
                        fullWidth>
                  Effettua lo switch
                </button>
              </nb-card-footer>
            </nb-card>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <p *ngIf="request">C'è già una richiesta in corso, attendete 72h per il completamento.</p>
      <p *ngIf="!request">Le richieste di modifica del template del sito web posson richiedere fino a 72h
        lavorative.</p>
    </nb-card-footer>
  </nb-card>
</div>
