// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();
}

;

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: none;
}

.layout {
  background-color: #ffffff !important;
  color: #2b2d34 !important;
}

button {
  background-color: #039e58 !important;
}

.progress-value {
  background: #039e58 !important;
}

nb-menu .menu-item a.active::before {
  background: #039e58 !important;
}

.nb-theme-default nb-menu .menu-item > .menu-items > .menu-item a.active {
  border-color: #039e58 !important;
}

.nb-theme-default nb-tabset .tabset .tab a::before {
  background: #039e58 !important;
}

#toast-container > div {
  opacity: 1 !important;
}

.nb-theme-default nb-stepper .header .step.completed .label-index {
  background-color: #039e58 !important;
  border: 2px solid #039e58 !important;
}

.nb-theme-default nb-stepper .header .step.completed .label {
  color: #039e58 !important;
}
