<nb-card size="medium">
  <nb-card-header>
    Fidelity Scan
  </nb-card-header>
  <nb-card-body>
    <zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
                   [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
                   (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
  </nb-card-body>
  <nb-card-footer>
    Card scanned: {{ result }}
  </nb-card-footer>
</nb-card>
