<form>
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xxxl-12">
      <nb-card>
        <nb-card-header>Menu</nb-card-header>
        <nb-card-body>
          <nb-tabset>
            <nb-tab tabTitle="Antipasti">
              <nb-list>
                <nb-list-item *ngFor="let antipasto of antipasti">
                  <nb-card>
                    <nb-card-header>
                      {{antipasto.nome}} / {{antipasto.descrizione}}
                    </nb-card-header>
                    <nb-card-body>
                      <nb-accordion>
                        <nb-accordion-item>
                          <nb-accordion-item-header>{{antipasto.prezzo}}</nb-accordion-item-header>
                          <nb-accordion-item-body>
                            <input #nome style="margin-top:0.5em;margin-bottom: 1.5em;" type="text" nbInput fullWidth
                                   value="{{antipasto.nome}}"
                                   placeholder="Nome pasto">
                            <input #descrizione style="margin-bottom: 1.5em;" type="text" nbInput fullWidth
                                   value="{{antipasto.descrizione}}"
                                   placeholder="Descrizione pasto">
                            <input #prezzo style="margin-bottom: 1.5em;" type="text" nbInput fullWidth
                                   value="{{antipasto.prezzo}}"
                                   placeholder="Prezzo">

                            <button (click)='delete(antipasto.id);'
                                    style="background-color: #ff4c6a !important;margin-right: 1.0em;" nbButton
                                    status="danger">Elimina
                            </button>
                            <button
                              (click)='modifica(antipasto.id, nome.value, descrizione.value, prezzo.value, "antipasto");'
                              nbButton>
                              Invia
                              modifica
                            </button>
                          </nb-accordion-item-body>
                        </nb-accordion-item>
                      </nb-accordion>
                    </nb-card-body>
                  </nb-card>
                </nb-list-item>
              </nb-list>
            </nb-tab>
            <nb-tab tabTitle="Primi e secondi">
              <nb-list>
                <nb-list-item *ngFor="let primo of primiesecondi">
                  <nb-card>
                    <nb-card-header>
                      {{primo.nome}} / {{primo.descrizione}}
                    </nb-card-header>
                    <nb-card-body>
                      <nb-accordion>
                        <nb-accordion-item>
                          <nb-accordion-item-header>{{primo.prezzo}}</nb-accordion-item-header>
                          <nb-accordion-item-body>
                            <input #nome style="margin-top:0.5em;margin-bottom: 1.5em;" type="text" nbInput fullWidth
                                   value="{{primo.nome}}"
                                   placeholder="Nome pasto">
                            <input #descrizione style="margin-bottom: 1.5em;" type="text" nbInput fullWidth
                                   value="{{primo.descrizione}}"
                                   placeholder="Descrizione pasto">
                            <input #prezzo style="margin-bottom: 1.5em;" type="text" nbInput fullWidth
                                   value="{{primo.prezzo}}"
                                   placeholder="Prezzo">

                            <button (click)='delete(primo.id);'
                                    style="background-color: #ff4c6a !important;margin-right: 1.0em;" nbButton
                                    status="danger">Elimina
                            </button>
                            <button
                              (click)='modifica(primo.id, nome.value, descrizione.value, prezzo.value, "primoesecondo");'
                              nbButton>
                              Invia
                              modifica
                            </button>
                          </nb-accordion-item-body>
                        </nb-accordion-item>
                      </nb-accordion>
                    </nb-card-body>
                  </nb-card>
                </nb-list-item>
              </nb-list>
            </nb-tab>
            <nb-tab tabTitle="Contorni">
              <nb-list>
                <nb-list-item *ngFor="let contorno of contorni">
                  <nb-card>
                    <nb-card-header>
                      {{contorno.nome}} / {{contorno.descrizione}}
                    </nb-card-header>
                    <nb-card-body>
                      <nb-accordion>
                        <nb-accordion-item>
                          <nb-accordion-item-header>{{contorno.prezzo}}</nb-accordion-item-header>
                          <nb-accordion-item-body>
                            <input #nome style="margin-top:0.5em;margin-bottom: 1.5em;" type="text" nbInput fullWidth
                                   value="{{contorno.nome}}"
                                   placeholder="Nome pasto">
                            <input #descrizione style="margin-bottom: 1.5em;" type="text" nbInput fullWidth
                                   value="{{contorno.descrizione}}"
                                   placeholder="Descrizione pasto">
                            <input #prezzo style="margin-bottom: 1.5em;" type="text" nbInput fullWidth
                                   value="{{contorno.prezzo}}"
                                   placeholder="Prezzo">

                            <button (click)='delete(contorno.id);'
                                    style="background-color: #ff4c6a !important;margin-right: 1.0em;" nbButton
                                    status="danger">Elimina
                            </button>
                            <button
                              (click)='modifica(contorno.id, nome.value, descrizione.value, prezzo.value, "contorno");'
                              nbButton>
                              Invia
                              modifica
                            </button>
                          </nb-accordion-item-body>
                        </nb-accordion-item>
                      </nb-accordion>
                    </nb-card-body>
                  </nb-card>
                </nb-list-item>
              </nb-list>
            </nb-tab>
            <nb-tab tabTitle="Pizze">
              <nb-list>
                <nb-list-item *ngFor="let pizza of pizze">
                  <nb-card>
                    <nb-card-header>
                      {{pizza.nome}} / {{pizza.descrizione}}
                    </nb-card-header>
                    <nb-card-body>
                      <nb-accordion>
                        <nb-accordion-item>
                          <nb-accordion-item-header>{{pizza.prezzo}}</nb-accordion-item-header>
                          <nb-accordion-item-body>
                            <input #nome style="margin-top:0.5em;margin-bottom: 1.5em;" type="text" nbInput fullWidth
                                   value="{{pizza.nome}}"
                                   placeholder="Nome pasto">
                            <input #descrizione style="margin-bottom: 1.5em;" type="text" nbInput fullWidth
                                   value="{{pizza.descrizione}}"
                                   placeholder="Descrizione pasto">
                            <input #prezzo style="margin-bottom: 1.5em;" type="text" nbInput fullWidth
                                   value="{{pizza.prezzo}}"
                                   placeholder="Prezzo">

                            <button (click)='delete(pizza.id);'
                                    style="background-color: #ff4c6a !important;margin-right: 1.0em;" nbButton
                                    status="danger">Elimina
                            </button>
                            <button
                              (click)='modifica(pizza.id, nome.value, descrizione.value, prezzo.value, "pizza");'
                              nbButton>
                              Invia
                              modifica
                            </button>
                          </nb-accordion-item-body>
                        </nb-accordion-item>
                      </nb-accordion>
                    </nb-card-body>
                  </nb-card>
                </nb-list-item>
              </nb-list>
            </nb-tab>
            <nb-tab tabTitle="Dolci e Dessert">
              <nb-list>
                <nb-list-item *ngFor="let dolce of dessert">
                  <nb-card>
                    <nb-card-header>
                      {{dolce.nome}} / {{dolce.descrizione}}
                    </nb-card-header>
                    <nb-card-body>
                      <nb-accordion>
                        <nb-accordion-item>
                          <nb-accordion-item-header>{{dolce.prezzo}}</nb-accordion-item-header>
                          <nb-accordion-item-body>
                            <input #nome style="margin-top:0.5em;margin-bottom: 1.5em;" type="text" nbInput fullWidth
                                   value="{{dolce.nome}}"
                                   placeholder="Nome pasto">
                            <input #descrizione style="margin-bottom: 1.5em;" type="text" nbInput fullWidth
                                   value="{{dolce.descrizione}}"
                                   placeholder="Descrizione pasto">
                            <input #prezzo style="margin-bottom: 1.5em;" type="text" nbInput fullWidth
                                   value="{{dolce.prezzo}}"
                                   placeholder="Prezzo">

                            <button (click)='delete(dolce.id);'
                                    style="background-color: #ff4c6a !important;margin-right: 1.0em;" nbButton
                                    status="danger">Elimina
                            </button>
                            <button
                              (click)='modifica(dolce.id, nome.value, descrizione.value, prezzo.value, "dessert");'
                              nbButton>
                              Invia
                              modifica
                            </button>
                          </nb-accordion-item-body>
                        </nb-accordion-item>
                      </nb-accordion>
                    </nb-card-body>
                  </nb-card>
                </nb-list-item>
              </nb-list>
            </nb-tab>
          </nb-tabset>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

</form>
